body { position: relative; font: 16pt Verdana, Tahoma, sans-serif;
       line-height: 1.5em; margin: 2em; }

#mainLogo { position: absolute; top: 20px; left: 15px; z-index: 3; }
#contents { padding: 60px 0.5em 0.5em; color: #dddddd;  background: #17271f; z-index: 1; }
#contents a { color: #dddddd; text-decoration: none; }
#contents ul { padding-inline-start: 1em; }

p { margin: 2em 0; }

@media (min-width:1024px) {
    body { font-size: 12pt; margin: 1em 1em 1em 20em; }
    #mainLogo { position: fixed; z-index: 3; }
    #contents {
        position: fixed; left: 0; top: 0; padding: 10px 0.5em 0.5em; width: 18em;
        height: 100%; font: 16px Verdana, Tahoma, sans-serif; line-height: 2em;
        overflow: scroll; border-right: 2px white outset;
        border-top: 85px #17271f solid;
    }
    #contents ul { margin-top: 0; }
    p { margin: 1em 0; }
}

h1 { display: none; }
h3, h4, h5, dt { color: #195b3a; }
h2 { padding: 0.5em; color: white; background: #17271f; }

h2 { font-size: 160%; }
h3 { font-size: 140%; color: #17271f; }
h4 { font-size: 120%; padding: 0.25em; color: #17271f; background: #e9f5ef; }
h5 { font-size: 110%; margin: 0.5em 0; }

figcaption { color: #195b3a; }
dt { font-weight: bold; margin-top: 1em; margin-bottom: 0.5em; }
pre.terminal { padding: 1em 0.5em; color: white; background: black;
               overflow-x: auto; }
table { border-spacing: 0; border-collapse: collapse; }

tr:nth-child(even) { background-color: #f0f0f0; }

aside.warning, aside.note { margin-left: 2em; padding-left: 1em; }
aside.warning { color: darkRed; border-left: 4px darkRed solid; }
aside.warning > p:first-of-type > strong:first-of-type,
aside.warning > strong:first-of-type
  { color: white; background: darkRed; padding: 0.1em 0.25em; }

aside.note { color: darkBlue; border-left: 4px darkBlue solid; }
aside.note > p:first-of-type > strong:first-of-type,
aside.note > strong:first-of-type
  { color: #eeeeee; background: darkBlue; padding: 0.1em 0.25em; }

th { background: #e9f5ef; }
td, th { padding: 0 0.5em; border: 1px darkGray solid; }

td.code { padding-left: 1em; }
td.code, td.linenos { border: 0; }
td.code .c1 { color: #555555; }
td.code .s2 { color: darkGreen; }
td.code .mh { color: darkRed; }
td.code .kt { font-weight: bold; color: darkBlue; }
